@model Gestao_de_Clientes.Models.ClienteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="fa fa-wpforms"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Deletar</h2>
                                    <p><span class="bread-ntd">Módulo/Cliente</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-report pull-right">
                                <a asp-action="Index" title="Voltar" class="btn">
                                    <i class="fa fa-arrow-left"></i> Voltar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeRazaoSocial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeRazaoSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPFCNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPFCNPJ)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RGIE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RGIE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnidadeFederativa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnidadeFederativa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inclusao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inclusao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alteracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alteracao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
       
    </form>
</div>
